<%- include("../partials/header")%>
<%- include("../partials/navbar")%>

<div class="container" style="margin-top: 5rem;">

  <%- include("../partials/flash")%>

  <h6 class="display-6">My Orders</h6>
  
    <div class="row">
        
            <%for(let order of orders){%>
                <div class="col-lg-12" style="border: 1px solid black; ">
                    <div class="card" style=" width: 80%;margin: 10px auto; background-color: bisque;">
                        <h5 class="card-header">
                            <p>Total : 	&#8377 <%=order.amount%></p>
                            <p class="fw-light fs-6">Transaction Id : <%=order.txnid%> </p>
                            <p class="fw-light fs-6">Order Date : <%=order.date.toDateString()%> </p>
                            <p class="fw-light fs-6">Delivery Location : <%=order.address%></p>
                        </h5>
                        <div class="card-body">
                            <%for(let item of order.orderedProducts){%>
                                <!-- <div class="mb-2">
                                    <img style="width: 150px;" src="<%=item.img%>" class="card-img-top" alt="...">
                                </div>   -->
                                <div class="card mb-3" style="max-width: 540px;width: 90%;">
                                    <div class="row g-0">
                                      <!--<div class="col-md-4">
                                        <img style="width: 150px;" src="<%=item.img%>" alt="...">
                                      </div>-->
                                      <div class="col-md-8" style="background-color:azure">
                                        <div class="card-body">
                                          <h6 class="card-title">Name of Product :<%=item.name%></h6>
                                          <h6 class="card-title">Price : <%=item.price%></h6>
                                          <h6 class="card-title">Quantity : 1 kg</h6>
                                         
                                          <h6 class="card-title">Temperature :Yet To be Recorded</h6>
                                          <h6 class="card-title">Humidity :Yet To be Recorded </h6>
                                          <br>
                                          <br>
                                          <!-- <a href="/products/<%=item._id%>" class="btn btn-info btn-sm">Buy it again</a> -->
                                        </div>
                                      </div>
                                      <a href="#">View More Details</a>
                                    </div>
                                  </div>
                            <%}%>
                        </div>
                    </div> 
                    <br>
                    <br>
                </div>
            <%}%>
    </div>
     
</div>




<%- include("../partials/footer")%>